body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a {
  color: #6070FF;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #FFF;
  padding: 12px;

}

.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  cursor: pointer;
 }

.menu {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

